.categories-content{
    margin-top: 15px;
}

.product-viewmode > a{
    font-size: 20px;
    color: #9e1126;
}
.product-selectors{
    padding: 5px 0;
}

.block .list .active > a{
    color: #9e1126;
}
.product-grid .item-box .details{
    text-align: center;
}
.product-grid .item-box .details .product-title a{
    color: #e31837;
}
.product-grid .item-box .details .product-title a:hover{
    color: #9e1126;
    text-decoration: unset;
}
.item-box .description{
    display: unset;
}
.item-box .product-title{
    min-height: unset;
}
.product-list .item-box .product-title a{
    color: #e31837;
}
.product-list .item-box .details .product-title a:hover{
    color: #9e1126;
    text-decoration: unset;
}
.block a.product-picture + a.product-name{
    margin-left: 10px;
}
.block .list a:hover{
    color: #9e1126;
    text-decoration: unset;
}

@media (min-width: 1001px){
    .master-wrapper-content.categories-content{
        width: 875px;
    }
    .block .title{
        font-size: 17px;
    }
}

.news-title-cus{
    color: #e31837;
    font-size: 25px;
}

.footer.contact-page{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-name h1{
    color: #e31837;
}

.overview .short-description{
    border: unset!important;
}

.product-essential .gallery .picture{
    width: 250px;
    height: 250px;
    margin-left: unset;
}
.gallery .picture-thumbs .thumb-item{
    width: 60px;
    height: 60px;
}
.product-essential .gallery{
    margin: unset;
}
.product-essential{
    margin: unset;
}

.product-essential .nav-tabs li{
    width: 50%;
}

.product-essential .nav-tabs>li.active>a,.product-essential .nav-tabs>li.active>a:focus,.product-essential .nav-tabs>li.active>a:hover{
    background-color: #ecdddd;
    color: #9e1126;    
    border: unset;
    border-bottom-color: unset;
}

.product-essential .nav-tabs>li>a{
    border-radius: unset;
    margin-right: unset;
    color: #fff;
    font-weight: 900;
}
.product-essential .nav-tabs>li{
    background-color: #9e1126;
    color: #fff;
}

.product-essential .nav-tabs>li>a:hover{
    background-color: #9e1126;
    color: #fff;
}

.product-essential .nav-tabs li.active a{
    padding-bottom: 12px;
}

.product-essential .tab-content{
    background-color: #ecdddd;
    padding-left: 15px;
    padding-bottom: 5px;
    height: 660px;
    overflow-y: auto;
}

.product-essential .nav-tabs::after{
    display: unset;
}
/* .product-essential .gallery.general-info{
    width: 65%;
}
.product-essential .main-pic{
    width: 24%;
}

.product-essential .main-overview{
    width: 75%;
}  */
 /* .product-essential .product-name h1{
     margin-top: 0;
 }
@media (max-width: 990px)
{
    .container {
        width: unset;
    }
    .categories-content{
        margin-top: 45px;
    }
    /* .product-essential .gallery .picture{
        height: 210px;
    }
    .product-essential .gallery{
        margin-top: 15px; 
    }

    .custom-desc{
        margin-top: 25px;
    } 
}*/
.product-essential{
    /* border-bottom: unset; */
    width: 100%;
}
/* @media screen and (max-width: 1202px) and (min-width: 992px) {
    .custom-desc{
        margin-top: 20px;
    }
    .categories-content{
        margin-top: unset;
    }
}
@media (max-width: 767px)
{
    .picture img{
        margin: unset!important;
    }
} */